/* typography */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('ttf');
}
@font-face {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 100 1000;
    font-display: swap;
    src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('ttf');
}

* { font-family: 'DM Sans' sans-serif; }


/* colors */
:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);
    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);
}


/* attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* common */
body { background-color: #f5f5f5; padding-top: 32px; padding-bottom: 40px; }
img { display: block; }
.inner { max-width: 1120px; margin-inline: 16px; }

/* main */
.main-container { display: grid; gap: 32px; }
[class^="item"] { border-radius: 10px; font-weight: 400; color: var(--black); text-wrap: balance; padding: 24px; }
[class^="item"] .main-title,
[class^="item"] .item-title { font-weight: 500; }
[class^="item"] .item-title { font-size: 26px; }

.item01 { background-color: var(--purple-500); color: var(--white); text-align: center;  }
.item01 .main-title { font-size: 46px; }
.item01 .main-title .color { color: var(--yellow-500); }

.item02 { background-color: var(--white); }

.item03 { background-color: var(--yellow-500); }

.item04 { background-color: var(--purple-100); text-align: center; }

.item05 { background-color: var(--purple-500); color: var(--white); text-align: center; }

.item06 { background-color: var(--white); }

.item07 { background-color: var(--yellow-100); }
.item07 .item-title em { color: var(--purple-500); }

.item08 { background-color: var(--yellow-500); }


/* responsive */
@media (min-width: 768px) {
    .main-container { grid-template-columns: repeat(4, 1fr); grid-template-rows: repeat(10, 60px); }
    .item01 { grid-row: 1 / span 4; grid-column: 2 / span 2; }
    .item02 { grid-row: 5 / span 3; grid-column: 2 / span 1; }
    .item03 { grid-row: 5 / span 3; grid-column: 3 / span 1; }
    .item04 { grid-row: 1 / span 7; grid-column: 4 / span 1; }
    .item05 { grid-row: 7 / span 3; grid-column: 3 / span 2; }
    .item06 { grid-row: 7 / span 3; grid-column: 2 / span 1; }
    .item07 { grid-row: 1 / span 5; grid-column: 1 / span 1; }
    .item08 { grid-row: 6 / span 5; grid-column: 1 / span 1; }
}